<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-2">
    <div class="card">
        <div class="card-header">List des Patient:</div>
          <div class="card-body">
              <form  method="get" th:action="@{index}">
                  <label>Rechercher</label>
                  <input type="text" keypord="donner">
                  <button type="submit" class="btn btn-primary">Chercher</button>
              </form>
            <table class="table">
                <thead>
                <tr>  <th>ID</th> <th>Nom</th> <th>DateNaissance</th>
                    <th>malade</th> <th>score</th><th>delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="p:${listpatients}">
                    <td th:text="${p.id}"></td>
                    <td th:text="${p.nom}"></td>
                    <td th:text="${p.dateNassance}"></td>
                    <td th:text="${p.malade}"></td>
                    <td th:text="${p.score}"></td>
                    <td>
                        <a onclick="return confirm('Etes vous sure?')" class="btn btn-danger" th:href="@{/delete(id=${p.id})}">
                            Delete
                        </a>
                    </td>


                </tr>
                </tbody>
            </table>
            <ul class="nav nav-pills">
<!--              <li th:each="page,status:${pages}">-->
<!--                  <a th:text="${status.index}" class="btn btn-outline-info ms-1"></a></li>-->
                <li th:each="page,status:${pages}">
                    <a th:class="${status.index==currentPages ? 'btn btn-info ms-1' :'btn  btn-outline-info ms-1'}"
                       th:text="${status.index}"
                      th:href="@{index(page=${status.index})}">

                    </a></li>
        </div>
    </div>
</div>

</body>
</html>